@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Readex+Pro:wght@600;700&display=swap');
:root {
  font-family: 'Noto Sans KR', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

textarea {
  font-family: 'Noto Sans KR', sans-serif;
}

input {
  outline: none;
}

ul {
  list-style: none;
}
